<div class="row">
  <div class="span12">
    <h2>Postings</h2>
    <table class="table">
      <tr>
        <th>#</th>
        <th>Term</th>
        <th>docid</th>
        <th>Frequency</th>
        <th>tfidf</th>
        <th>weight</th>
        <th>locations</th>
      </tr>
    <% postings.each_with_index do |posting, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= posting.term %></td>
        <td><%= link_to posting.docid, {:controller => 'page', :action => 'show', :id => posting.docid}, {:target => "_blank"} %></td>
        <td><%= posting.freq %></td>
        <td><%= posting.tfidf %></td>
        <td><%= posting.weight %></td>
        <td><%= posting.locations %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div><!--/row-->
