<div class="row">
  <div class="span12">
    <%= form_tag '/', :method => "get", :class => 'well form-search' do %>
      <%= label_tag :q, "Search for :" %>
      <%= text_field_tag :q, nil, :size => 55, :maxlength => 2048  %>
      <%= submit_tag "Search"  %>
    <% end %>
  </div>
</div><!--/row-->

<% if @results.present? %>

  <div class="row">
    <div class="span12">
      Search Results for <%= h @q %>
    </div>
  </div><!--/row-->

  <div class="row">
    <div class="span12">
      <h2>Original Query</h2>
      <p><%= @q %></p>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h2>Processed Query</h2>
      <table class="table">
        <tr>
          <th>Term</th>
          <th>Doc Count</th>
          <th>Total Frequency</th>
          <th>IDF</th>
        </tr>
      <% @results.each do |term, dictionary| %>
        <tr>
          <td><%= term %></td>
          <td><%= dictionary.doc_count %></td>
          <td><%= dictionary.tot_freq %></td>
          <td><%= dictionary.idf %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div><!--/row-->

  <div class="row">
    <div class="span12">
      <h2>Postings</h2>
      <table class="table">
        <tr>
          <th>#</th>
          <th>Term</th>
          <th>docid</th>
          <th>Frequency</th>
          <th>tfidf</th>
          <th>weight</th>
          <th>locations</th>
        </tr>
      <% @postings.each_with_index do |posting, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= posting.term %></td>
          <td><%= link_to posting.docid, {:controller => 'admin', :action => 'show', :id => posting.docid}, {:target => "_blank"} %></td>
          <td><%= posting.freq %></td>
          <td><%= posting.tfidf %></td>
          <td><%= posting.weight %></td>
          <td><%= posting.locations %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div><!--/row-->

<% end %>
