<div class="row">
  <div class="span12">
    <ul>
      <% @text_sorted.each do |text| %>
        <li><%= text.strip %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
    <table class="table" style="display:none;">
    <% @xml_body.traverse do |node| %>
      <tr>
        <td><%= node.parent.node_name %> - <%= node.node_name %></td>
        <td>Content size: <%= node.content.size %></td>
        <td><pre><%= node.inner_html %></pre></td>
        <td><pre><%= node.content.chomp.strip %></pre></td>
        <td><pre><%= node.text.chomp.strip %></pre></td>
        <td><pre><%= node.text.chomp.strip %></pre></td>
        <td><pre><%= node.text.chomp.strip %></pre></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h1>Admin Debugging</h1>
    <h2>Showing debug for <%= @page.docid %></h2>
    <table class="table">
      <tr><td>Name</td><td><%= @page.name %></td></tr>
      <tr><td>url</td><td><%= link_to @page.url, @page.url, {:target => '_blank'} %></td></tr>
      <tr><td></td><td></td></tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h2>Body</h2>
    <pre>
    <%= @body.inner_html %>
    </pre>
  </div>
  <div class="span6">
    <h2>Text</h2>
    <pre>
      <%= @text %>
    </pre>
  </div>

</div>
