<% terms.each do |dictionary| %>
  <% dictionary.each do |term, dict | %>
  <div>
    <dl>
      <dt><%= term %></dt>
      <dd>Document Count: <%= dict.doc_count %></dd>
      <dd>Total Frequency: <%= dict.tot_freq %></dd>
      <dd>
        <ul>
          <% dict.postings.each do |posting| %>
            <li>docid: <%= posting.docid %></li>
            <li>freq: <%= posting.freq %></li>
          <% end %>
        </ul>
      </dd>
    </dl>
  </div>
  <% end %>
<% end %>
